cmake-build-debug
cmake-build-release
.idea
*.pcap
data
script
/slow_start_data/
/receiver_window_limited/
/receiver_speed_limited/
/kernel_cc_limited/
/real/
/kernel_buffer_limited/
/congestion_limited/
/sync/
